In [35]:
import os
import pandas as pd

In [36]:
os.chdir("/home/a03-sgoel/FLaT/data")

In [37]:
mode = "stability"

In [38]:
df = pd.read_csv(f"./{mode}/seqs_for_optim.csv")

In [39]:
df

                                              Sequence  Labels
0    MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...   -0.16
1    MSKSGVPRLLTASERERLEPFIDQIHYGPRYADDEYEYRHVMLPKA...   -0.89
2    MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...   -0.30
3    MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...   -0.45
4    MATPEASGSGRNGQGSDPAVTYYRLEEVAKHNTAEETWMVIHGRVY...   -1.40
..                                                 ...     ...
848  MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...   -0.44
849  MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...    0.00
850  MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...   -0.72
851  MSKSGVPRLLTASERERLEPFIDQIHYSPRYADDEYEYRHVMLPKA...    0.24
852  MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...    1.28

[853 rows x 2 columns]

In [40]:
def df_to_fasta(df, output_file):
    with open(output_file, 'w') as f:
        for index, row in df.iterrows():
            sequence = row['Sequence']
            value = row['Labels']
            header = f">Sequence{index+1}-Value_{value}"
            f.write(f"{header}\n{sequence}\n")

In [41]:
df_to_fasta(df, f"./{mode}/seqs_for_optim.fasta")